/* css style for single card */
.artist{
background: linear-gradient(#e66465, #9198e5);
height: 400px;
width: 300px;
border: 2px solid red;
border-radius: 20px;
padding: 10px;
box-shadow: rosybrown;
font-family:monospace;
font-weight: bolder;
font-size: larger;
color: darkblue;
}
.artist span{
    color: palegreen;
    margin-right:10px ;
}
.intro{
    text-align: start;
}
.artist img{
    height: 40%;
    width: 80%;
    border-radius: 400px;
}
.added-btn{
height: 30px;
width: 200px;
border-radius: 10px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bolder;
font-size: medium;
background-color: palegreen;
color: darkslategray;
}